@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
}

:root {
  --clr-magneta: hsl(257, 40%, 49%);
  --clr-soft: hsl(300, 69%, 71%);
}
body {
  background-color: var(--clr-magneta);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
}

main {
  padding: 4rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.flex-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.logo {
  width: max(33%, 120px);
}
.img-im {
  width: min(90%, 50rem);
}
.btn {
  background-color: white;
  align-self: center;
  padding: 1rem 7rem;
  border-radius: 2rem;
  border: none;
  font-size: clamp(1.4rem, 1vh+2rem, 2rem);
  box-shadow: 8px 10px 5px -7px #333;
}
.btn:hover {
  background-color: var(--clr-soft);
}
.btn:hover a {
  color: white;
}

.flex-row {
  flex-direction: row;
  align-self: center;
  gap: 1rem;
}
.icon {
  border-radius: 50%;
  border: 1px solid white;
  padding: 0.5rem;
}
.icon img {
  width: 2rem;
}

.icon:hover {
  border-color: var(--clr-soft);
  cursor: pointer;
}
.icon:hover img {
  background-color: var(--clr-soft);
}
.sc {
  width: 5rem;
  background-size: cover;
}

@media screen and (min-width: 700px) {
  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
    height: 100svh;
    font-size: 2rem;
  }
  main {
    gap: 5rem;
    padding: 5rem clamp(5rem, 28%, 15rem);
    text-align: left;
  }
  h1 {
    font-size: 4rem;
  }
  .logo {
    width: max(10%, 10rem);
  }
  .flex-group {
    flex-direction: row;
    flex: 1;
  }
  .flex-res {
    flex-direction: column;
    padding-top: 5rem;
    align-self: flex-start;
  }
  .flex-row {
    align-self: end;
  }
  .img-im {
    width: 50%;
    height: 100%;
  }
  .btn {
    font-size: 2.1rem;
    border-radius: 2.5rem;
    align-self: start;
  }
}
